<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="com.android.vending.BILLING"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.USE_BIOMETRIC"
        tools:node="remove" />
    <uses-permission
        android:name="android.permission.USE_FINGERPRINT"
        tools:node="remove" />

    <queries>
        <intent tools:node="remove">
            <action android:name="com.android.vending.billing.InAppBillingService.BIND" />
        </intent>
        <intent tools:node="remove">
            <action android:name="com.google.android.apps.play.billingtestcompanion.BillingOverrideService.BIND" />
        </intent>
    </queries>

    <application>
        <meta-data
            android:name="com.google.android.play.billingclient.version"
            tools:node="remove" />
        <meta-data
            android:name="com.google.android.gms.version"
            tools:node="remove" />

        <activity
            android:name="com.android.billingclient.api.ProxyBillingActivity"
            tools:node="remove" />
        <activity
            android:name="com.android.billingclient.api.ProxyBillingActivityV2"
            tools:node="remove" />
        <activity
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            tools:node="remove" />
        <activity
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            tools:node="remove" />

        <service
            android:name="com.google.android.gms.auth.api.signin.RevocationBoundService"
            tools:node="remove" />
        <service
            android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery"
            tools:node="remove" />
        <service
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService"
            tools:node="remove" />

        <receiver
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"
            tools:node="remove" />
    </application>
</manifest>
